<div style = "position:relative; left:350px; top:250px; ">

<p id="notice"><%= notice %></p>

<h1 style = "position:relative; left:-250px; top:-220px">X Rays</h1>

<table style= "position:relative; left:-250px; top:-200px">
  <thead>
    <tr>
      <th>Image url | &nbsp; </th>
      <th>Paitent |&nbsp; </th>
      <th>Labele | &nbsp;</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @x_rays.each do |x_ray| %>
      <tr>
        
        <td><%= link_to 'Show', x_ray %></td>
        <td><%= link_to 'Edit', edit_x_ray_path(x_ray) %></td>
        <td><%= link_to "New Report", controller: "reports", action: "new", x_ray_id: x_ray.id  %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

</div>