<div style = "position:relative; left:100px; top:50px; background:rgba(1, 1, 1, 0.68); padding: 100px 400px;">

<h1>New X Ray</h1>

<%= render 'form', x_ray: @x_ray %>

<%= link_to 'Back', x_rays_path %>
</div>