<div style = "position:relative; left:100px; top:40px; background:rgba(1, 1, 1, 0.68); padding: 250px 500px;">
<h1>New Paitent</h1>
<%= render 'form', paitent: @paitent %>
<%= link_to 'Back', paitents_path %>
</div>
