<h1>Welcome To ACUSCAN</h1>

<%if (admin_signed_in?) %>
<%format.html { redirect_to :controller => 'PaitentsController', :action => 'index'} %>

<% elsif (doctor_signed_in?) %>
<%format.html { redirect_to :controller => 'PaitentsController', :action => 'show'} %>

<% elsif (receptionest_signed_in?) %>
<%format.html { redirect_to :controller => 'PaitentsController', :action => 'new'} %>

<% elsif (technician_signed_in?) %>
<%format.html { redirect_to :controller => 'PaitentsController', :action => 'edit'} %>

<% else %>
<h2>You Are:</h2>
<li class="nav-item">
  <%= link_to "Doctor", new_doctor_session_path  %>
</li>
<li class="nav-item">
  <%= link_to "reception", new_receptionest_session_path  %>
</li>
<li class="nav-item">
  <%= link_to "techntion", new_technician_session_path  %>
</li>
<li class="nav-item">
  <%= link_to "admin", new_admin_session_path  %>
</li>

<% end %>