<!DOCTYPE html>
<html>
  <body>
    <div class="container-fluid text-center text-md-left bg-dark">
      <div class="footer-copyright text-center py-3"> ©
      </footer>
    </div>
  </div>
</body>
</html>
