<!DOCTYPE html>

<body>
    <div class="d-flex" id="wrapper">
        <!-- Sidebar -->
        <div class="border-right bg-dark" id="sidebar-wrapper">
            <div class="list-group list-group-flush">
                <a href="#" class="list-group-item list-group-item-action bg-dark">Dashboard</a>
                <a href="#" class="list-group-item list-group-item-action bg-dark">Shortcuts</a>
                <a href="#" class="list-group-item list-group-item-action bg-dark">Overview</a>
                <a href="#" class="list-group-item list-group-item-action bg-dark">Events</a>
                <a href="#" class="list-group-item list-group-item-action bg-dark">Profile</a>
                <a href="#" class="list-group-item list-group-item-action bg-dark">Status</a>
            </div>
        </div>
</body>